
.tile
{
    display: grid;
    place-content: center;
    color: aqua;
    width: 100px;
    height: 100px;
}

.black-tile
{
    background-color:grey /*#7A3911 */;
    color: aqua;
}
.white-tile
{
    color: aqua;
    background-color: white /*#F4D7AF*/;

}

.tile .chess-piece
{
    width: 100px;
    height: 100px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;

}

.tile .chess-piece:hover
{
    cursor: grab; 
}


.tile .chess-piece:active
{
    cursor: grabbing; 
}

.tile img
{
    width: 80px;
}